<!DOCTYPE html>
<html>
    <head>
        <title>
            Boiler
        </title>
        <link href="css/material.css" rel="stylesheet" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body ng-app="app" ng-controller="initController as init">
        <script>config={headers: {auth: "login"}};</script>
        <script src="js/dependencies/jquery.js"></script>
        <script src="js/dependencies/showdown.js"></script>
        <script src="js/dependencies/angular.js"></script>
        <script src="js/dependencies/socket.io.js"></script>
        <script src="js/dependencies/ng-socket.min.js"></script>
        <script src="js/dependencies/moment.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
        <script src="js/angular/post.js"></script>
        <script src="js/angular/friend.js"></script>
        <script src="js/angular/user.js"></script>
        <script src="js/angular/app.js"></script>
        <script src="js/material.js"></script>
        
        
        <div class="top" ng-show="state=='login'">
            Boiler
        </div>
        
        <div class="top" ng-hide="state=='login'">
            <button class="iconButton hamburger" id="menuButton"></button>
            {{user.name}} @{{user.username}}
            <div id="aboutButton"><img src="icons/details.png" class="notInline" /></div>
            <div id="newPostButton">+</div>
            &emsp;
            <div class="topRight">
                <input type="text" placeholder="Search..." id="searchBar"/>
                <img src="icons/search.png" class="notInline search" id="search"></img>
                <img src="icons/not.png" class="notInline search" id="search"></img>
            </div>
        </div>
        <div id="searchResults"></div>
        <div id="err"></div>
        <div id="info"></div>
        <!-- 
        ##########################################################
                                    Login
        ##########################################################
        -->
        <div class="login" ng-controller="userController as userCtl" ng-show="state=='login'">
            <div class="login-screen">
                <div class="app-title">
                    <h1><span class="sLogin">Login</span><span class="sSign-up">Register</span></h1>
                </div>
                <form class="sLogin" ng-submit="userCtl.login(userCtl.login.un, userCtl.login.password)">
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="email or username" id="login-email" ng-model="userCtl.login.un">
                        <label class="login-field-icon fui-user" for="login-email"></label>
                    </div>
                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" id="login-pass" ng-model="userCtl.login.password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                <input type="submit" class="btn btn-primary btn-large btn-block" value="login">
                </form>
                <!-- Sign up form -->
                <form class="sSign-up" ng-submit="userCtl.register(userCtl.reg)">
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="email" id="login-sEmail" ng-model="userCtl.reg.email">
                        <label class="login-field-icon fui-user" for="login-email"></label>
                    </div>
            
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="name" id="login-sName" ng-model="userCtl.reg.name">
                        <label class="login-field-icon fui-user" for="login-email"></label>
                    </div>
            
                    <div class="control-group">
                        <input type="text" class="login-field" value="" placeholder="username" id="login-sUser" ng-model="userCtl.reg.username">
                        <label class="login-field-icon fui-user" for="login-email"></label>
                    </div>
                
                    <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="password" id="login-sPass" ng-model="userCtl.reg.password">
                        <label class="login-field-icon fui-user" for="login-email"></label>
                    </div>
                
                    <div class="control-group">
                        <input type="password" class="login-field" value="" placeholder="confirm password" id="login-sCpass" ng-model="userCtl.reg.cpass">
                        <label class="login-field-icon fui-user" for="login-email"></label>
                    </div>
                    <input type="submit" class="btn btn-primary btn-large btn-block" value="Register">
                </form><br>
        
                <span style="color: blue;cursor: pointer;text-align: center">
                    <span class="sSign-up" id="login-button">Login</span>
                    <span class="sLogin" id="signUp-button">Register</span>
                </span>
                <a class="login-link" href="#">Lost your password?</a><br>
            </div>
        </div>
        
        <!-- 
        ##########################################################
                                Logged In
        ##########################################################
        -->
        <div ng-show="state!='login'">
            <div id="newPost" ng-controller="postController as postCtl">
                <form id="postInput" ng-submit="postCtl.create(postCtl.post)">
                    <input type="text" placeholder="Title" ng-model="postCtl.post.title">
                    <textarea placeholder="Write a new post" ng-model="postCtl.post.content"></textarea>
                    <input type="submit" id="postButton" value="Post">
                </form>
                <div id="preview"></div>
            </div>
            <div id="aboutDiv">
                <div class="aboutDivOption" id="aboutFriends" ng-controller="friendController as friendCtl" ng-click="friendCtl.get(0)">Friends</div>
            </div>
            <div id="shadow"></div>
            <div id="sideNav">
                <ul>
                    <li ng-click="init.toHome()"><img src="icons/home.png" class="notInline">&emsp;Home</li>
                    <li ng-click="init.toFeed()"><img src="icons/feed.png" class="notInline">&emsp;Feed</li>
                    <li ng-controller="userController as userCtl" ng-click="userCtl.logout()"><img src="icons/logout.png" class="notInline">&emsp;Logout</li>
                </ul>
            </div>
            <div id="friendsDiv" ng-controller="friendController as friendCtl">
                <div class="optionTop">
                    <span id="friendsExit">X</span>
                    <h1>Friends</h1>
                    <input type="text" placeholder="Search for Friends" id="friendsSearch"/>
                </div>
                <div id="friendsResults">
                    <div ng-repeat="friend in user.friends">{{friend.name}} <span>@{{friend.username}}</span></div>
                </div>
            </div>
        </div>
        
        <!-- 
        ##########################################################
                                    User
        ##########################################################
        -->
        <div ng-show="state=='user'||state=='home'" ng-controller="postController as postCtl">
            <div class="posts">
                <div class="post">
                    <h2>{{pag.name}} @{{pag.username}}</h2>
                    <br>
                    <div ng-show="pag.friends == 0" ng-controller="friendController as friendCtl">
                        <button ng-click="friendCtl.sendRequest(pag._id)">Add Friend</button>
                    </div>
                    <div ng-show="pag.friends == 1">
                        <span>Request Sent</span>
                    </div>
                    <div ng-show="pag.friends == 2">
                        <span>Friends</span>
                    </div>
                </div>
                <div ng-show="pag.newPosts > 0" class="post" ng-controller="postController as postCtl">
                    {{pag.newPosts}} new posts. <span class="hyp" ng-click="postCtl.getNew()">Fetch Posts</span>
                </div>
                <div class="post" ng-repeat="post in pag.posts">
                    <div class="postTop">
                        <b>{{post.owner.name}}</b> 
                        <span ng-click="init.toUser(post.owner.username)" class="hyp">@{{post.owner.username}}</span>
                        <br>
                        <i>{{post.prettyCreated}}</i>
                    </div><br>
                    <h2 class="hyp" ng-click="postCtl.show(post)">{{post.title}}</h2>
                    <div class="postContent" ng-bind-html="post.preview"></div>
                </div>
            </div>
        </div>
        <!-- 
        ##########################################################
                                    Post
        ##########################################################
        -->
        <div class="main" ng-show="state=='post'">
		    <div class="article" ng-bind-html="pag.content">
		    </div>
		    <div class="bottom">
		        <span ng-click="init.toUser(pag.username)">{{pag.name}} <span class="hyp">@{{pag.username}}</span></span>&emsp;
		        <i>{{pag.post.createdOn}}</i>
		    </div>
		</div>
		<!-- 
        ##########################################################
                                    Feed
        ##########################################################
        -->
        <div ng-show="state=='feed'">
            <div class="posts" ng-controller="friendController as friendCtl">
                <div class="post">
                    <h3>Notifications</h3>
                    <br>
                    <h4>New</h4>
                    <div ng-repeat="not in nots.unRead">
                        <div ng-show="not.type=='fr'">
                            New friend request from 
                            <span ng-click="init.toUser(not.other.username)" class="hyp">@{{not.other.username}}</span>&emsp;&emsp;
                            <span ng-click="friendCtl.acceptRequest(not.other._id)" class="hyp">Accept</span>&emsp;
                            <span ng-click="friendCtl.deleteRequest(not.other._id)" class="hyp">Ignore</span>&emsp;
                            <span ng-click="init.readNot(not._id)" class="hyp">Read</span>&emsp;
                        </div>
                        <div ng-show="not.type=='fra'">
                            <span ng-click="init.toUser(not.other.username)" class="hyp">@{{not.other.username}} </span>accepted your friend request.&emsp;
                            <span ng-click="init.delNot(not._id)" class="hyp">Read</span>
                        </div>
                    </div>
                    <div ng-show="nots.unRead.length == 0||!nots.unRead">
                        <i>No new notifications</i>
                    </div>
                    <br>
                    <h4>Read</h4>
                    <div ng-repeat="not in nots.read">
                        <div ng-show="not.type=='fr'">
                            New friend request from 
                            <span ng-click="init.toUser(not.other.username)" class="hyp">@{{not.other.username}}</span>&emsp;&emsp;
                            <span ng-click="friendCtl.acceptRequest(not.other._id)" class="hyp">Accept</span>&emsp;
                            <span ng-click="friendCtl.deleteRequest(not.other._id)" class="hyp">Ignore</span>&emsp;
                        </div>
                    </div>
                    <div ng-show="nots.read.length == 0">
                        <i>Notifications empty</i>
                    </div>
                    <div class="hyp" ng-click="init.getOldNots()">
                        Get Old notifications
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>