.bigPic {
	position: fixed;
}
.bigPic img {
	margin-top: 0px;
}
.overPic {
	color: white;
	font-family: Roboto;
	font-size: 34pt;
	margin: 30px 20% 0px auto;
	display: inline-block;
}
.main {
	padding-top: 30px;
	padding-bottom: 100%;
	background-color: white;
	width: 100%;
} 
.article {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	font-family: Crimson;
	font-size: 20pt;
	line-height: 1.4;
}